<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamsoft.DotNet.BarcodeReader" version="10.2.11" targetFramework="net48" />
  <package id="Dynamsoft.DotNet.BarcodeReader.Bundle" version="10.2.1000" targetFramework="net48" />
  <package id="Dynamsoft.DotNet.CaptureVisionRouter" version="2.2.31" targetFramework="net48" />
  <package id="Dynamsoft.DotNet.Core" version="3.2.30" targetFramework="net48" />
  <package id="Dynamsoft.DotNet.ImageProcessing" version="2.2.30" targetFramework="net48" />
  <package id="Dynamsoft.DotNet.License" version="3.2.20" targetFramework="net48" />
  <package id="Dynamsoft.DotNet.Utility" version="1.2.20" targetFramework="net48" />
</packages>